body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/background.jpeg);
    background-repeat: repeat;
    background-size:cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1em 2em 1em 2em;
    margin: 2em;
    border: solid black 1px;
    border-radius: 10px;
    background-color: rgba(240, 255, 255, .5) ;
    
}

.card-body {
    padding-bottom: 2em;
    width: 80%;
}

input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: solid black 2px;
    border-radius: 6px;
    height: 2em;
}

#btn-add {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    box-sizing: border-box;
    border: solid black 2px;
    border-radius: 6px;
    height: 2em;
}


.card-foot {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    width: 80%;
}

.summary{
    width: 30%;
    padding-right: 3em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 50% 1fr 1fr;
    gap: 1em;
    align-items: center;
}

